* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 3%;
  color: 	#212139;
}

h6 {
  color: #591d1d;
  align-self: flex-end;
}

.form-container, .card-container {
  background-color: #9e9ecb;
  padding: 3%;
  margin: 5%;
  border-radius: 10px;
  transition: 0.3s
}

.card-container:hover {
  transform: scale(1.01);
  transition: 0.3s;
}

.form-container {
  margin: 0 auto;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-container label {
  display: flex;
  align-self: flex-end;

}

.terms-service {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
  border: 1px solid #414141;
  border-radius: 10px;
  overflow: scroll;
}

.terms-service p {
  text-indent: 50px;
  margin-bottom: 2%;
}

.submit-button input {
  width: 100px;
  border-radius: 5px;
}

.submit-button input:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  width: 40%;
}