* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.App {
  text-align: center;
  padding: 3%;
}

.form-container {
  margin: 0 auto;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-container label {
  display: flex;
  align-self: flex-end;

}

.terms-service {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
  border: 1px solid #414141;
  border-radius: 10px;
  overflow: scroll;
}

.terms-service p {
  text-indent: 50px;
  margin-bottom: 2%;
}